include header.html
.content-padding
    h1
        strong BLOG

    .blog-content
        .blog-entry 
            h3 #[a(href="blog/reward-explained") Revolver reward platform explained ] 

include footer.html


