include header.html
.content-padding
    h1
        strong FAQ

    .faq-content
        h2 How can I get Revolver coins?
        h3 There are a lot of ways to get Revolver coins. You can buy or trade coins on
           | <a class="intext" href="https://www.cryptopia.co.nz/Exchange/?market=XRE_BTC" target="_blank">Exchange</a>
           | online, you can mine them on your computer.
           | Moreover you can take part in community projects and get coins on the
           | <a class="intext" href="http://platform.revolvercoin.org/" target="_blank">Revolver Platform</a> as a participant.


        h2 What is mining? How can I mine some Revolvers?
        h3 You can also get Revolver coins by "mining" it. Mining is when you use your computer to process RevolverCoin transactions by other people, and in return you get some coins.
           | Mining requires some of technical knowledge to do. If you are interested, go to
           | <a class="intext" href="/resources">Resources page</a>, select your preferable hardware and mining pool for instructions.
           | For more information on mining visit our community hub on <a class="intext" href="https://discord.gg/Gn5CeXb" target="_blank">Discord</a> or
           | <a class="intext" href="https://bitcointalk.org/index.php?topic=1479260.0" target="_blank"> Bitcointalk forums </a>

        h2 Why RevolverCoin is used instead of Bitcoin?
        h3 Revolver is a cryptocurrency network created specifically for content service providers, independent music and video projects,
           | startups and users working under creative commons licence. While RevolverCoin is based on Bitcoin core and uses the best of its technology, the required
           | reward functionality needs additional developments that go far beyond current Bitcoin implementation.

        h2 Why does the world needs a reward platform?
        h3 Big number of independent artists all over the world are in need of a reward platform to be able to create and develop.
           | We are the team of crypto enthusiasts, musicians and developers. We sincerely believe that crypto philosophy and free
           | artists spirit perfectly blend with each other. We believe in openness and availability of information, open source
           | and open licenses, and we want to help artists of tomorrow to unleash their potential and make
           | their creations available to the wider audience.

        h2 Why revolver?
        h3 The name RevolverCoin is mostly a pun where X11 EVO algo mixer used in XRE works compared with a revolving cylinder
            | in a revolver. Also a revolver is frequently used as an expressive symbol of style in music and movies.
            | It is definitely not about guns and violence. You may refer to such cults like Elvis, The Beatles and many
            | others, who used the revolver symbolism.

        h2 Ok I got it so what's next?
        h3 There are many amazing innovations lying beneath modern blockchain-based technologies and we are happy to be in the thick of things.
           | We have a long-term roadmap with lots of developments to provide a cutting-edge solution for creative people all over the world.
           | Join our <a class="intext" href="https://discord.gg/Gn5CeXb" target="_blank">Discord</a> and
           | <a class="intext" href="https://twitter.com/RevolverCoin" target="_blank">Twitter</a> to be aware of new updates.



include footer.html


