
        <div class="main-feature-container">
            <img src="images/band.jpg" width="554" height="378"/>
            <div>
                <p class="main-feature">When Creativity meets<br>
                    Breakthrough Technology</p>

                <p class="main-feature-desc">
                    Revolver is an experimental cryptocurrency network created to reward independent authors and artists 
                    in a fair and decentralized way
                </p>
            </div>


        </div>

        <a name="download"></a>
        <h3 class="main">Download Wallet</h3>
        <div class="download-icons">
            <div>
                <a class="download-link" href="https://github.com/RevolverCoin/revolvercoin/releases/tag/v1.0.0.0" target="_blank">
                    <p class="active">Windows</p>

                    <span class="fa-stack fa-lg fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-windows fa-stack-1x"></i>
                    </span>

                </a>

            </div>

            <div>
                <a class="download-link" href="https://github.com/RevolverCoin/revolvercoin/releases/tag/v1.0.0.0" target="_blank">
                    <p class="active">Linux</p>
                    <span class="fa-stack fa-lg fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-linux fa-stack-1x"></i>
                    </span>
                </a>
            </div>

            <div>
                <p>Mac OS</p>
                <span class="fa-stack fa-lg fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-apple fa-stack-1x"></i>
                </span>
            </div>
            
            <div>
                <p class='coming-soon'>Android</p>
                <div class="coming-soon">coming soon</div>
                <span class="fa-stack fa-lg fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-android fa-stack-1x"></i>
                </span>
            </div>
            
            <div>
                <a class="download-link" href="https://github.com/RevolverCoin/revolvercoin" target="_blank">
                    <p class="active">Open source</p>
                    <span class="fa-stack fa-lg fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="separator"></div>


        <div class="features">
            <div class="feature">
                <p class="feature-name">Support concept</p>
                <p class="feature-desc">
                    RevolverCoin is a decentralized digital currency that mixes a new social 'Support' concept with the blockchain technology  
                </p>
            </div>


            <div class="feature">
                <p class="feature-name">Reward platform</p>
                <p class="feature-desc">
                    Support your favorite artists and grow together. Rewards are distributed instantly according to the support graph structure
                </p>
            </div>

            <div class="feature">
                <p class="feature-name">Basic Income</p>
                <p class="feature-desc">
                    The experimental software that aims to implement the basic income concept in real life </p>
            </div>


            <div class="feature">
                <p class="feature-name">Distribution model 
                <p/>
                <p class="feature-desc">
                    Consensus rules enforce a distribution of coins not only to miners but also to content creators
                </p>
            </div>

        </div>


        <div class="separator spacer"></div>

        <div class="concept">
            <h3 class="main">Proof of Concept</h3>

            <div class="block">
                   <div class="image"> 
                       <a href="https://medium.com/@BarneyHill/decentralized-reward-platform-cae975b6a2d#.vl3wo2jcy" target="_blank"> 
                            <img src="images/PaperCover.jpg" height="150px">
                        </a>
                    </div>
                   
                   <div class="text">
                        <a href="https://medium.com/@BarneyHill/decentralized-reward-platform-cae975b6a2d#.vl3wo2jcy" target="_blank">
                            <p class="block-header">
                                Decentralized Reward Platform
                            </p>
                        </a>
                        <p>
                            The research is an attempt to identify a new approach to the problem of social and economic 
                            interaction between creators and consumers and to offer a possible solution based on blockchain technology
                        </p>  
                    </div> 
            </div>

            <div class="block">
                    <div class="image"> 
                        <a href="http://revolvercoin.org/resources/RewardDistributionInDecentralizedNetworks.pdf" target="_blank">
                            <img src="images/simpaper.jpg" height="150px"></div>
                        </a>
                    
                    <div class="text">
                        <a href="http://revolvercoin.org/resources/RewardDistributionInDecentralizedNetworks.pdf" target="_blank"> 
                            <p class="block-header">
                                    Reward Distribution in Decentralized Networks
                            </p>
                        </a>
                         <p>
                             To significantly increase the scale and ensure long term viability of the decentralized networks
                             user reward mechanics have to be implemented. Such mechanics motivate users to stay inside
                             the system and contribute towards its success and expansion
                         </p>  
                     </div> 
             </div>

        </div>
        


        <a name="community"></a>
        <div class="links">

            <h3 class="main">Community</h3>

            <div class="community-links">
                
                <div class="community-link">
                    <a href="https://discord.gg/Gn5CeXb" target="_blank">
                        <img src="images/discord.png"/>
                        <p>Discord</p>
                    </a>
                </div>

                <div class="community-link">
                    <a href="https://bitcointalk.org/index.php?topic=1479260.0" target="_blank">
                        <img src="images/bct-logo.jpg" width="50"/>
                        <p>Bitcointalk forums</p>
                    </a>
                </div>
                <div class="community-link">
                    <a href="http://platform.revolvercoin.org" target="_blank">
                        <img src="images/revolver-platform.png"/>
                        <p>Revolver Platform (coming soon)</p>
                    </a>
                </div>
                <div class="community-link">
                    <a href="https://github.com/RevolverCoin/" target="_blank">
                        <img src="images/github.png"/>
                        <p>GitHub</p>
                    </a>
                </div>

            </div>

            <div class="twitter-block">
                <a class="twitter-timeline"
                   data-width="250"
                   data-height="375"
                   data-theme="dark"
                   data-chrome="nofooter transparent"
                   href="https://twitter.com/RevolverCoin">Tweets by RevolverCoin</a>
            </div>

            <script>
                var twitterBlock = document.querySelector(".twitter-block");
                twitterBlock.style.display = 'none';
                // First, load the widgets.js file asynchronously
                window.twttr = (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                            t = window.twttr || {};
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);

                    t._e = [];
                    t.ready = function(f) {
                        t._e.push(f);
                    };

                    return t;
                }(document, "script", "twitter-wjs"));


                twttr.ready(function (twttr) {
                    twttr.events.bind(
                        'loaded',
                        function (event) {
                           twitterBlock.style.display = '';
                        }
                    );
                });
            </script>

        </div>

        <div class="footer-banner">
            <div>
                <div class="left">
                    <p class="title">Revolver</p>
                    <p class="subtitle">Decentralized reward platform</p>
                </div>
                <div class="right">
                    <p>Patreon-like reward distribution platform with bidirectional reward 
                        streams where authors and supporters both benefit from their activities 
                    </p>
                </div>
            </div>
        </div>

        <div class="partners">
            <a href="http://altradar.info" target="_blank"><img src="images/alt-radar.jpg" width="340" height="85"/></a>
            <a href="https://www.cryptopia.co.nz/" target="_blank"><img src="images/cryptopia.jpg" width="225" height="100"/></a>
            <a href="https://www.cryptocompare.com/" target="_blank"><img src="images/cryptocompare.jpg" width="105" height="112"/></a>
        </div>




