include header.html
.content-padding
    h1
        strong RESOURCES


    h2 Exchanges

    div.resource-item
        h3 Cryptopia
        a(href="https://www.cryptopia.co.nz/Exchange/?market=XRE_BTC" target="_blank")
            p Cryptopia XRE/BTC Exchange

    div.resource-item
        h3 NovaExchange
        a(href="https://novaexchange.com/market/BTC_XRE/" target="_blank")
            p NovaExchange XRE/BTC


    h2 Mining software

    div.resource-item
        h3 CPU Miner
        a(href="http://cryptomining-blog.com/7930-windows-binaries-for-the-cpuminer-opt-3-3-5-cpu-miner/" target="_blank")
            p cpuminer-opt 3.3.5


    div.resource-item
        h3 AMD GPU Miner
        a(href="https://github.com/RevolverCoin/sgminer/releases/tag/5.1.1.1" target="_blank")
            p RevolverCoin SGMiner

    div.resource-item
        h3 Nvidia GPU Miner
        a(href="http://cryptomining-blog.com/7907-updated-ccminer-1-8-dev-fork-by-tpruvot-with-x11-evo-support" target="_blank")
            p CCMiner 1.8 with X11 Evo Support


    h2 Mining Pools

    div.resource-item
        h3 Suprnova XRE Pool
        a(href="https://xre.suprnova.cc" target="_blank")
            p Suprnova XRE Pool

    div.resource-item
        h3 ZPOOL.CA
        a(href="http://www.zpool.ca/" target="_blank")
            p ZPOOL.CA

    div.resource-item
        h3 Maxminers
        a(href="https://maxminers.net/xre" target="_blank")
            p Maxminers.net

    h2 Block Explorers
    div.resource-item
        h3 Official Explorer
        a(href="http://revolvercoin.org:3001/" target="_blank")
            p RevolverCoin Block Explorer

    div.resource-item
        h3 CCMiner.org
        a(href="http://yiimp.ccminer.org/explorer/XRE" target="_blank")
            p yiimp.ccminer.org

    h2 Cryptocurrency Specification

    div.resource-item
        h4 Proof-of-work: X11Evo algorithm based on twisting X11 algos
        h4 Main emission: approx. 22,000,000 coins
        h4 Tail emission: 2 XRE\block
        h4 Starting reward: 128 XRE\block
        h4 Halving: every 86400 blocks (approx. 60 days)
        h4 Block Time: 1 min

    h2 Publications

    div.resource-item
        h3 Decentralized Reward Platform concept
        a(href="https://medium.com/@BarneyHill/decentralized-reward-platform-cae975b6a2d#.vl3wo2jcy" target="_blank")
            p Decentralized Reward Platform

include footer.html
