
include header.html

script.
    var onClick = function() {
        document.location.href="/slack-invite";
    }


.content-padding
    h1
        strong RevolverCoin Slack Invite
    h3(class="#{isFailed ? 'error' : ''}") !{message}

    if isFailed
        button(class="button" onclick='onClick()' style='margin-left:0') Back


include footer.html


