include header.html


.content-padding
    h1
        strong Subscribe to email newsletter

    .community-link
        p.newsletter-header
            Newsletter

        form(method="POST", action="/subscribe-send")#subscribe-form.form
            input(type="email", name="email", placeholder="Enter Your Email Address", class="inputbox")#subscribe-email.inputbox
            input(type="submit", value="Subscribe" class="button").submit

script.

    var form = document.getElementById('subscribe-form');
    var email = document.getElementById('subscribe-email');

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }


    form.addEventListener('submit', function(evt) {
        if (!validateEmail(email.value)) {
            evt.preventDefault();
            alert('test')
        }

        evt.preventDefault();
    });

